.icon_layer {
    background-color: #E3ECEE;
    padding: 5px;
    font-size: 2rem;
}

.icon_dot{
    height: 50px;
    width: 50px;
    background-color: #165269;
    border-radius: 50%;
    overflow: hidden;
}