.summary {
    color: black;
    justify-content: center;
    display: flex;
    flex: 6;
    flex-direction: column;
    margin-bottom: 2%;
    }

.vspacer {
    flex: 2;
}

@media screen and (max-width: 1200px) {
    .vspacer {
        flex: 2;
    }
}
@media screen and (max-width: 600px) {
    .vspacer {
        flex: 2;
    }
}
@media screen and (max-width: 480px) {
    .vspacer {
        flex: 2;
        margin: 5%;
    }
    
}